
/** ADD YOUR AWESOME CODES HERE **/

.prism {
    max-width: 100%;
}

.filter-button-group {
    border: none;
}

.filter-button-group button {
    border: 1px solid #e4e4e4;
}

.section .lc {
    background-color:#e4e4e4
}