body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation */
.header {
    background-color: #2B7C85;
}

nav {
    padding: 20px;
    border-bottom: solid;
    border-color: #538c92;
    border-width: thin;
    text-align: right;
}

.nav-links {
    margin-right: 150px;
}

a {
    font-size: 25px;
    margin: 10px;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #538c92;
}

header {
  padding: 1px;
}

/* Headline tags */

h1 {
    text-align: center;
    font-size: 118px;
    color: white;
}

h3 {
    margin-left: 20px;
    font-size: 40px;
    color: #0C1446;
}

h4{
    font-size: 30px;
}

/* about section */

.about {
    max-width: 80em;
    margin: 0% 15% 1% 20%;
    display: flex;
}

.about-content {
    margin-left: 20px;
}

.about-content p {
    padding-top: 60px;
}

#self-portrait {
    width: 170px;
    margin-right: 70px;
    border: 5px solid #538c92;
    border-radius: 60px;
    float: left;
}

/* project section */

#navigation-img {
    width: 20%;
    margin-right: 70px;
    float: left;
}

.project {
    background-color: rgba(211, 211, 211, 0.3);
    display: flex;
    align-items: center;
}

.project-content {
    margin: 0 15% 0 20%;
}

/* Learn section */

.learn-content {
    margin: 0 15% 0 20%; 
}

/* Footer */

footer {
    padding: 150px;
    background-color: #0C1446;
    margin-top: -4px;
}

/* @media only */

@media only screen and (max-width: 700px) {
    body {
      text-align: center;
    }
    .about{
        margin: 0 10px 0 0;
    }
    #navigation-img {
        float: none;
    }
    #self-portrait {
        float: none;
    }
  }

  @media only screen and (max-width: 555px) {
      .nav-links {
        margin-right: 0;
      }
      a {
        font-size: 20px;
        margin: 5px;
      }
  }